

<div class="modal-body" >
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> You have successfully edited a car.
      <button (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     
     
  <div class="card">
      <div class="card-body">
        <h6 class="card-price text-center"><span class="period"><i class="fas fa-car"></i> Edit a car <i class="fas fa-car"></i></span></h6>
        <hr>
        <form  [formGroup]="editCarForm" (ngSubmit)="editCar()">
          <div class="row">
            <label for="brand">Car brand</label>
            <input type="text" formControlName="CarBrand" id="brand" class="form-control">
          </div>
  
          <br/>
          <div class="row">
            <label for="model">Car model</label>
            <input type="text" formControlName="CarModel" id = "model" class="form-control"> 
          </div>
  
          <br/>
          <div class="row">
            <label for="year">Year of production</label>
            <input id="year" type="number" class="form-control" formControlName="CarYearOfProduction" min="1990" max = "2020">
            
          </div>
  
          <br/>
          <div class="row">
            <label for="typee">Car type</label>
            <select class="form-control" formControlName="CarType" id="typee">
              
              <option value="limousine">Limousine</option>
          
              <option value="caravan">Caravan</option>
              <option value="suv">SUV</option>
          </select>
            
          </div>
  
          <br/>
          <div class="row">
            <label for="fuel">Fuel type</label>
            <select class="form-control" formControlName="CarFuelType" id="fuel">
              <option value="gasoline">Gasoline</option>
              <option value="diesel">Diesel</option>
          </select> 
          </div>
  
          <br/>
          <div class="row">
            <label for="carTransmissions">Transmission type</label>
            <select class="form-control" formControlName="CarTransmissionType" id="carTransmissions">
              <option value="automatic">Automatic</option>
              <option value="manual">Manual</option>
          
          </select>
          </div>
          
          <br/>
          <div class="row">
            <label for="carSeats">Number of seats</label>
            <select class="form-control" formControlName="CarNumberOfSeats" id="carSeats">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
            </select>
          </div>

          <br/>
          <div class="row">
            <label for="price">Price per day</label>
            <input id="price" type="number" class="form-control" formControlName="CarPrice" min="1" max = "5000">
            
          </div>
          <br/>

          <div class="row">
            <label for="dateFrom">Car discount date from</label>
            <div class="input-group form-group">
                    <input id="dateFrom" class="form-control" [minDate]="minDate"
                    formControlName="CarDiscountDateFrom" ngbDatepicker #dateFrom="ngbDatepicker" >
                   
                      <button class="btn btn-outline-primary calendar" (click)="dateFrom.toggle()" type="button"><i class="fas fa-calendar "></i></button>
                 
                 </div>
               
          </div>

          <br/>
          <div class="row">
            <label for="dateTo">Car discount date to </label>
            <div class="input-group form-group">
                  <input id = "dateTo" [minDate]="minDate" class="form-control"
                  formControlName="CarDiscountDateTo" ngbDatepicker #dateTo="ngbDatepicker">
                 
                    <button class="btn btn-outline-primary calendar" (click)="dateTo.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                  
                </div>
             
          </div>

          <br/>
          <div class="row">
            <label for="discountPrice">Car discount price</label>
            <input id="discountPrice" type="number" class="form-control" formControlName="CarDiscountPrice" min="1" max = "5000">
            
          </div>
          <hr>
  
          <div class="row">
            
            <div class="col">
              <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i>Cancel</button>
            </div>
            
            
            <div class="col">
                <button [disabled] = "!editCarForm.valid" type="submit" id="saveButton" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-save mr-1"></i>Save</button>
              </div>
  
          </div>
        </form>
          
      </div>
    </div>
  </div>
  
  