

<div class="modal-body" >
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> You have successfully edited a car.
      <button (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     
     
  <div class="card">
      <div class="card-body">
        <h6 class="card-price text-center"><span class="period"><i class="fas fa-car"></i> Edit a car <i class="fas fa-car"></i></span></h6>
        <hr>
        <form  [formGroup]="editCarForm" (ngSubmit)="editCar()">
          <div class="row">
            <label for="brand">Car brand</label>
            <input  type="text"  formControlName="CarBrand" id="brand" class="form-control" [ngClass] ="{'is-invalid': editCarForm.get('CarBrand').touched && editCarForm.get('CarBrand').invalid}">
            <div *ngIf = "editCarForm.get('CarBrand').touched && editCarForm.get('CarBrand').invalid" class="invalid-feedback">
              <div *ngIf = "editCarForm.get('CarBrand').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Car brand is required.</div>
              <div *ngIf = "editCarForm.get('CarBrand').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Car brand can only contain letters.</div>
              
            </div>
          </div>
  
          <br/>
          <div class="row">
           <label for="model">Car model</label>
           <input [ngClass] ="{'is-invalid': editCarForm.get('CarModel').touched && editCarForm.get('CarModel').invalid}" type="text"  formControlName="CarModel" id = "model" class="form-control">
           <div *ngIf = "editCarForm.get('CarModel').touched && editCarForm.get('CarModel').invalid" class="invalid-feedback">
             <div *ngIf = "editCarForm.get('CarModel').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Car model is required.</div>
             <div *ngIf = "editCarForm.get('CarModel').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Car model can only contain letters and numbers.</div>
             
           </div> 
          </div>
  
          <br/>
          <div class="row">
         <label for="year">Year of production</label>
         <input [ngClass] ="{'is-invalid': editCarForm.get('CarYearOfProduction').touched && editCarForm.get('CarYearOfProduction').invalid}" id="year" type="text"  class="form-control" formControlName="CarYearOfProduction" >
         <div *ngIf = "editCarForm.get('CarYearOfProduction').touched && editCarForm.get('CarYearOfProduction').invalid" class="invalid-feedback">
           <div *ngIf = "editCarForm.get('CarYearOfProduction').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Year of production is required.</div>
           <div *ngIf = "editCarForm.get('CarYearOfProduction').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Year of production can only contain numbers.</div>
           <div *ngIf = "editCarForm.get('CarYearOfProduction').errors.Error"><i class="fas fa-times-circle" style="color: red;"></i> Car year of production can only be between 1990's and 2020's.</div>
         </div> 
            
          </div>
  
          <br/>
          <div class="row">
            <!--<label for="typee">Car type</label>!-->
            <select [ngClass] ="{'is-invalid': editCarForm.get('CarType').touched && editCarForm.get('CarType').invalid}" class="form-control" formControlName="CarType" id="typee">
              <option value="" disabled selected >Select car type, current: {{item.CarType}}</option>
              <option value="limousine">Limousine</option>
              <option value="caravan">Caravan</option>
              <option value="suv">SUV</option>
            </select>
            <div *ngIf = "editCarForm.get('CarType').touched && editCarForm.get('CarType').invalid" class="invalid-feedback">
              <div *ngIf = "editCarForm.get('CarType').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Car type is required.</div>
      
            </div> 
            
          </div>
  
          <br/>
          <div class="row">
            <!--<label for="fuel">Fuel type</label>!-->
            <select [ngClass] ="{'is-invalid': editCarForm.get('CarFuelType').touched && editCarForm.get('CarFuelType').invalid}" class="form-control" formControlName="CarFuelType" id="fuel">
              <option value="" disabled selected>Select fuel type, current: {{item.CarFuelType}}</option>
              <option value="gasoline">Gasoline</option>
              <option value="diesel">Diesel</option>
            </select> 
          <div *ngIf = "editCarForm.get('CarFuelType').touched && editCarForm.get('CarFuelType').invalid" class="invalid-feedback">
            <div *ngIf = "editCarForm.get('CarFuelType').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Car fuel type is required.</div>
    
          </div>  
          </div>
  
          <br/>
          <div class="row">
            <!--<label for="carTransmissions">Transmission type</label>!-->
            <select [ngClass] ="{'is-invalid': editCarForm.get('CarTransmissionType').touched && editCarForm.get('CarTransmissionType').invalid}" class="form-control" formControlName="CarTransmissionType" id="carTransmissions">
              <option value="" disabled selected>Select transmission type, current: {{item.CarTransmissionType}}</option>
              <option value="automatic">Automatic</option>
              <option value="manual">Manual</option>
          
            </select>
            <div *ngIf = "editCarForm.get('CarTransmissionType').touched && editCarForm.get('CarTransmissionType').invalid" class="invalid-feedback">
              <div *ngIf = "editCarForm.get('CarTransmissionType').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Transmission type is required.</div>
      
            </div> 
          </div>
          
          <br/>
          <div class="row">
             <!--<label for="carSeats">Number of seats</label>!-->
             <select [ngClass] ="{'is-invalid': editCarForm.get('CarNumberOfSeats').touched && editCarForm.get('CarNumberOfSeats').invalid}" class="form-control"  formControlName="CarNumberOfSeats" id="carSeats">
              <option value="" disabled selected>Select number of seats, current: {{item.CarNumberOfSeats}}</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
            </select>
            <div *ngIf = "editCarForm.get('CarNumberOfSeats').touched && editCarForm.get('CarNumberOfSeats').invalid" class="invalid-feedback">
              <div *ngIf = "editCarForm.get('CarNumberOfSeats').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Number of seats is required.</div>
      
            </div> 
          </div>

          <br/>
          <div class="row">
            <label for="price">Price per day</label>
            <input [ngClass] ="{'is-invalid': editCarForm.get('CarPrice').touched && editCarForm.get('CarPrice').invalid}" id="price"  type="text" class="form-control" formControlName="CarPrice" >
            <div *ngIf = "editCarForm.get('CarPrice').touched && editCarForm.get('CarPrice').invalid" class="invalid-feedback">
              <div *ngIf = "editCarForm.get('CarPrice').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Car price is required.</div>
              <div *ngIf = "editCarForm.get('CarPrice').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Car price can only contain numbers.</div>
            </div> 
            
          </div>
         

          <hr>
  
          <div class="row">
            
            <div class="col">
              <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i>Cancel</button>
            </div>
            
            
            <div class="col">
                <button [disabled] = "!editCarForm.valid" type="submit" id="saveButton" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-save mr-1"></i>Save</button>
              </div>
  
          </div>
        </form>
          
      </div>
    </div>
  </div>
  
  