<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-seats [state]="SeatDisplayState.Preview" [seatsInput]="seats"></app-seats>
        </div>
    </div>
    <div class="row">
        <h3>Enter seat for removal</h3>
    </div>
    <form [formGroup]="form" (submit)="OnSubmit()" novalidate>
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="row">
                            Row:
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" id="row" class="form-control" formControlName="row"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="column">
                            Column:
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" id="column" class="form-control"  formControlName="column"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

