<div class="container">
    <div class="row">
        <div class="com-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <app-flight-panel  [flight]="fastFlight.flight"></app-flight-panel>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col d-flex flex-row">
                            <p class="mr-2">Class: {{fastFlight.flight.flightClass}}</p> 
                            <p class="mr-2">Row: {{fastFlight.row}}</p> 
                            <p class="mr-2">Column: {{fastFlight.column}}</p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <button class="btn btn-primary" [routerLink]="['/FastFlightConfirmation/',fastFlight.flight.id,fastFlight.id]" routerLinkActive="router-link-active">Set Reservation</button>

                        </div>
                    </div>
                </div>  
            </div>  
        </div>
    </div>
</div>

