<div class="card">
    <div class="card-header">
        <h1>
            {{airplane.name}}
        </h1>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Economy rows: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.economyRows}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Economy columns: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.economyCols}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Business rows: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.businessRows}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Business columns: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.businessCols}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        First rows: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.firstRows}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        First columns: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.firstCols}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
