<div class="card">
    <!-- <div class="card-header">
        <h1>
            {{airplane.Name}}
        </h1>
    </div> -->
    <!-- <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Economy rows: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.EconomyRows}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Economy columns: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.EconomyCols}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Business rows: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.BusinessRows}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        Business columns: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.BusinessCols}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        First rows: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.FirstRows}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">
                        First columns: 
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="label">
                        {{airplane.FirstCols}}
                    </label>
                </div>
            </div>
        </div>
    </div> -->
</div>
