
<div class="bg-img">
    <div class="container">
      <div class="card2" >
        <form  [formGroup]="searchCarsForm">
          <div class="row">
  
            <div class="col">
              <!--<label for="placeFrom">The place where you pick up the car</label>!-->
              <input [ngClass] ="{'is-invalid': searchCarsForm.get('carPlacePickUp').touched && searchCarsForm.get('carPlacePickUp').invalid}" placeholder="The place were you pick up the car" type="text" id="place"class="form-control" formControlName="carPlacePickUp" id="placeFrom" >
              <div *ngIf = "searchCarsForm.get('carPlacePickUp').touched && searchCarsForm.get('carPlacePickUp').invalid" class="invalid-feedback">
                <div *ngIf = "searchCarsForm.get('carPlacePickUp').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> The place were you pick up the car is required.</div>
                <div *ngIf = "searchCarsForm.get('carPlacePickUp').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> The place were you pick up the car can only contain letters.</div>
                
              </div>    
            </div>
            
            <div class="col">
              <!--<label for="placeTo">The place where you return the car</label>!-->
                <input [ngClass] ="{'is-invalid': searchCarsForm.get('carPlaceReturn').touched && searchCarsForm.get('carPlaceReturn').invalid}" placeholder="The place where you return the car" type="text" class="form-control" formControlName="carPlaceReturn" id="placeTo" >
                <div *ngIf = "searchCarsForm.get('carPlaceReturn').touched && searchCarsForm.get('carPlaceReturn').invalid" class="invalid-feedback">
                  <div *ngIf = "searchCarsForm.get('carPlaceReturn').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> The place where you return the car is required.</div>
                  <div *ngIf = "searchCarsForm.get('carPlaceReturn').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> The place where you return the car can only contain letters.</div>
                  
                </div>  
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col">
                <!--<label for="dateFrom">Date from when you need the vehicle</label>!-->
                <div class="input-group form-group">
                        <input readonly [ngClass] ="{'is-invalid': searchCarsForm.get('modelFrom').touched && searchCarsForm.get('modelFrom').invalid}" placeholder="Date from when you need the car" id="dateFrom" class="form-control" [minDate]="minDate" 
                        formControlName="modelFrom" ngbDatepicker #modelFrom="ngbDatepicker" >
                       
                          <button class="btn btn-outline-primary calendar" (click)="modelFrom.toggle()" type="button"><i class="fas fa-calendar "></i></button>
                          <div *ngIf="searchCarsForm.get('modelFrom').touched && searchCarsForm.get('modelFrom').invalid" class="invalid-feedback">
                            <div *ngIf="searchCarsForm.get('modelFrom').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> The date by which you need the car is required.</div>
                            <div *ngIf="searchCarsForm.get('modelFrom').errors.isError" ><i class="fas fa-times-circle" style="color: red;"></i> The date by which you need the car must be less or equal with second selected date.</div>
                            
                          </div>  
                     </div>
                   
              </div>
  
              <div class="col">
                <!--<label for="dateTo">The date by which you need the vehicle</label>!-->
                <div class="input-group form-group">
                      <input readonly [ngClass] ="{'is-invalid': searchCarsForm.get('modelTo').touched && searchCarsForm.get('modelTo').invalid}" placeholder="The date by which you need the car" id = "dateTo" [minDate]="minDate" class="form-control" 
                      formControlName="modelTo" ngbDatepicker #modelTo="ngbDatepicker">
                     
                        <button  class="btn btn-outline-primary calendar" (click)="modelTo.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                        <div *ngIf="searchCarsForm.get('modelTo').touched && searchCarsForm.get('modelTo').invalid" class="invalid-feedback">
                          <div *ngIf="searchCarsForm.get('modelTo').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> The date by which you need the car is required.</div>
                          <div *ngIf="searchCarsForm.get('modelTo').errors.isError" ><i class="fas fa-times-circle" style="color: red;"></i> The date by which you need the car must be greater or equal with first selected date.</div>
                          
                        </div>  
                    </div>
                 
              </div>
  
          </div>
          <br/>
   
          <div class="row">
              
            <div class="col">
                <!--<label for="carTypes">Choose a car type</label>!-->
                  <select [ngClass] ="{'is-invalid': searchCarsForm.get('carType').touched && searchCarsForm.get('carType').invalid}" class="form-control" formControlName="carType" id="carTypes">
                    <option value="" disabled selected >Select car type</option>
                    <option value="limousine">Limousine</option>
                    <option value="caravan">Caravan</option>
                    <option value="suv">SUV</option>
                 </select>
                 <div class="invalid-feedback">
                  <div ><i class="fas fa-times-circle" style="color: red;"></i> Car type is required.</div>
                  
                  
                </div>  
              </div>
              <div class="col">
                <!--<label for="noPassengers">Number of passengers</label>!-->
                <select [ngClass] ="{'is-invalid': searchCarsForm.get('carNumberOfPassengers').touched && searchCarsForm.get('carNumberOfPassengers').invalid}" class="form-control"  formControlName="carNumberOfPassengers" id="carSeats">
                  <option value="" disabled selected>Select number of passengers</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="5">5</option>
                  <option value="7">7</option>
                </select>
                <div class="invalid-feedback">
                  <div ><i class="fas fa-times-circle" style="color: red;"></i> Number of passengers is required.</div>
                  
                  
                </div>  
              </div>
  
          </div>
        <br/>
        <div class="row">
          <div class="col">
            <!--<label for="priceFrom">Price from</label>!-->
              <input [ngClass] ="{'is-invalid': searchCarsForm.get('carPriceFrom').touched && searchCarsForm.get('carPriceFrom').invalid}" id="priceFrom"type="text" class="form-control" formControlName="carPriceFrom"  placeholder="Car price per day from">
              <div *ngIf = "searchCarsForm.get('carPriceFrom').touched && searchCarsForm.get('carPriceFrom').invalid"class="invalid-feedback">
                <div *ngIf = "searchCarsForm.get('carPriceFrom').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Price per day can only contain numbers.</div>
                <div *ngIf = "searchCarsForm.get('carPriceFrom').errors.Error"><i class="fas fa-times-circle" style="color: red;"></i> First price must be less or equal with second price.</div>
              </div> 
            </div>
  
          <div class="col">
            <!--<label for="priceTo">Price to</label>!-->
              <input [ngClass] ="{'is-invalid': searchCarsForm.get('carPriceTo').touched && searchCarsForm.get('carPriceTo').invalid}" id="priceTo" type="text" class="form-control" formControlName="carPriceTo"  placeholder="Car price per day to">
              <div *ngIf = "searchCarsForm.get('carPriceTo').touched && searchCarsForm.get('carPriceTo').invalid"class="invalid-feedback">
                <div *ngIf = "searchCarsForm.get('carPriceTo').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Price per day can only contain numbers.</div>
                <div *ngIf = "searchCarsForm.get('carPriceTo').errors.Error"><i class="fas fa-times-circle" style="color: red;"></i> Second price must be greater or equal with first price.</div>
                
              </div>
              </div>
        </div>
  
  
          
          <br/>
          <div class="row">
            
              <div class="col">
                <button [disabled] = "!searchCarsForm.valid" type="button" id="searchButton" class="btn btn-outline-primary btn-rounded " (click)="searchCars()"><i class="fas fa-search mr-1"></i>Search</button>
              </div>
  
          </div>
            
        </form>
    </div>
  </div>
  <section class="pricing py-5">
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item class="d-flex justify-content-center"  *ngFor="let item of slides; let i = index">
              
                <div class="col-md-4" *ngFor="let car of item; let carIndex = index">
                  <div class="card" title="Click for reservation preview" (click) = "openCarDetailsModal(car.id)">
                    <div class="card-body">
                      <h5 class="card-title text-muted text-uppercase text-center">{{car.brand}} {{car.model}}</h5>
                      <h6 class="card-price text-center">{{car.price}}$<span class="period">/day</span></h6>
                      
                    
                    </div>
                  </div>
                </div>
             
        </mdb-carousel-item>
      </mdb-carousel>
    </section>
    </div>