<div class="container" style="background : transparent !important">  
    <div   *ngIf="(flights | async) != null || (flights | async)?.length > 0; else noDisplay" >
        <div class="row mb-2" *ngFor="let item of flights | async">
            <div class="col">
                <app-flight-panel  [flight]=item></app-flight-panel>
            </div>
        
        </div>  
    </div>

    <ng-template #noDisplay >
        <div class="row">
            <div class="col" >
                <div class="card">
                    <div class="card-body text-center text-justify">
                        <h3>
                            <small>
                                No flights found, try adding new flight.
                            </small>
                        </h3>
                    </div>
                </div>
       
            </div>
        </div>
    </ng-template>
</div>


