<div class="container">  
    <div class="card-deck" *ngIf="(flights | async) != null; else noDisplay" >
        <ng-container *ngFor="let item of flights | async">
            <app-flight-panel  [flight]=item></app-flight-panel>
        </ng-container>  
    </div>

    <ng-template #noDisplay >
        <div class="row" class="text-center text-justify">
            <div class="col-lg" >
                <h3>
                    <small>
                        No flights found, try adding new flight.
                    </small>
                </h3>
            </div>
        </div>
    </ng-template>
</div>


