

<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    <h6 class="card-price text-center"><span class="period"><i class="fas fa-building"></i> Branch details <i class="fas fa-building"></i></span></h6>
   
   
<div class="card">
    <div class="card-body">
      <h6 class="card-price text-center"><span class="period"> {{item.name}} </span></h6>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Name: {{item.name}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Country: {{item.country}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>City: {{item.city}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Street: {{item.street}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Street number: {{item.streetNo}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Zip code: {{item.zipCode}}</li>

       
    <div class="row">
        
        <div class="col">
          <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i> Close </button>
        </div>

        <div class="col">
        <!--*ngIf="role ===  'RentACarAdmin'"  dole-->
            <button  type="button" (click)="openEditBranchModal()" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-edit mr-1"></i> Edit </button>
        </div>

        <div class="col">
            <!--*ngIf="role ===  'RentACarAdmin'"  dole-->
            <button  type="button" (click)="openDeleteBranchModal()" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-trash mr-1"></i> Delete </button>
        </div>

        <div class="col">
            <button  type="button" title="Click to see branch location on map" class="btn btn-outline-primary btn-rounded " (click)="activeModal.close('Close click')" [routerLink]="['/BranchLocation/', item.id]" routerLinkActive="router-link-active" ><i class="fas fa-map-marker-alt mr-1"></i> Location </button>
        </div>
    </div>

    
      </ul>
    
    </div>
  </div>
</div>
