

<div class="modal-body" >
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
   
     
     
  <div class="card">
      <div class="card-body">
        <h6 class="card-price text-center"><span class="period"><i class="fas fa-building"></i> Add a enterprise <i class="fas fa-building"></i></span></h6>
        <hr>
        <form  [formGroup]="addEnterpriseForm" (ngSubmit)="addEnterprise()">
          <div class="row">
            <label for="name">Enterprise name</label>
            <input [ngClass] ="{'is-invalid': addEnterpriseForm.get('enterpriseName').touched && addEnterpriseForm.get('enterpriseName').invalid}"  type="text" formControlName="enterpriseName" id="name" class="form-control">
            <div  class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Enterprise name is required.</div>
        
            </div>
          </div>
  
          <br/>
          <div class="row">
            <label for="country">Country</label>
            <input [ngClass] ="{'is-invalid': addEnterpriseForm.get('enterpriseCountry').touched && addEnterpriseForm.get('enterpriseCountry').invalid}"  type="text" formControlName="enterpriseCountry" id = "country"class="form-control"> 
            <div *ngIf = "addEnterpriseForm.get('enterpriseCountry').touched && addEnterpriseForm.get('enterpriseCountry').invalid" class="invalid-feedback">
              <div *ngIf = "addEnterpriseForm.get('enterpriseCountry').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise country is required.</div>
              <div *ngIf = "addEnterpriseForm.get('enterpriseCountry').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise country can only contain letters.</div>
              
            </div>
          </div>
  
          <br/>
          <div class="row">
            <label for="city">City</label>
            <input [ngClass] ="{'is-invalid': addEnterpriseForm.get('enterpriseCity').touched && addEnterpriseForm.get('enterpriseCity').invalid}" type="text" formControlName="enterpriseCity" id = "city" class="form-control"> 
            <div *ngIf = "addEnterpriseForm.get('enterpriseCity').touched && addEnterpriseForm.get('enterpriseCity').invalid" class="invalid-feedback">
              <div *ngIf = "addEnterpriseForm.get('enterpriseCity').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise city is required.</div>
              <div *ngIf = "addEnterpriseForm.get('enterpriseCity').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise city can only contain letters.</div>
              
            </div>
          </div>
  
          <br/>
          <div class="row">
            <label for="street">Street</label>
            <input [ngClass] ="{'is-invalid': addEnterpriseForm.get('enterpriseStreet').touched && addEnterpriseForm.get('enterpriseStreet').invalid}"  type="text" formControlName="enterpriseStreet"  id = "street" class="form-control"> 
            <div class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Enterprise street is required.</div>
           
              
            </div> 
          </div>
  
          <br/>
          <div class="row">
            <label for="streetNo">Street number</label>
            <input [ngClass] ="{'is-invalid': addEnterpriseForm.get('enterpriseStreetNo').touched && addEnterpriseForm.get('enterpriseStreetNo').invalid}" type="text" formControlName="enterpriseStreetNo" id = "streetNo" class="form-control"> 
            <div *ngIf = "addEnterpriseForm.get('enterpriseStreetNo').touched && addEnterpriseForm.get('enterpriseStreetNo').invalid" class="invalid-feedback">
              <div *ngIf = "addEnterpriseForm.get('enterpriseStreetNo').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise street number is required.</div>
              <div *ngIf = "addEnterpriseForm.get('enterpriseStreetNo').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise street number can only contain letters and numbers.</div>
              
            </div> 
          </div>
  
          <br/>
          <div class="row">
            <label for="zipCode">Zip code</label>
            <input [ngClass] ="{'is-invalid': addEnterpriseForm.get('enterpriseZipCode').touched && addEnterpriseForm.get('enterpriseZipCode').invalid}"  type="text" formControlName="enterpriseZipCode" id = "zipCode" class="form-control"> 
            <div *ngIf = "addEnterpriseForm.get('enterpriseZipCode').touched && addEnterpriseForm.get('enterpriseZipCode').invalid" class="invalid-feedback">
              <div *ngIf = "addEnterpriseForm.get('enterpriseZipCode').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise zip code is required.</div>
              <div *ngIf = "addEnterpriseForm.get('enterpriseZipCode').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Enterprise zip code can only contain numbers.</div>
              
            </div> 
          </div>
          
          <br/>
          <div class="row">
            <label for="descrption">Description</label>
            <textarea [ngClass] ="{'is-invalid': addEnterpriseForm.get('enterpriseDescription').touched && addEnterpriseForm.get('enterpriseDescription').invalid}"  id = "descrption"formControlName="enterpriseDescription"  rows="4" cols="50"></textarea>
            <div  class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Enterprise promo description is required.</div>
        
            </div>
          </div>
          <hr>
  
          <div class="row">
            
            <div class="col">
              <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i>Cancel</button>
            </div>
            
            
              <div class="col">
                <button [disabled] = "!addEnterpriseForm.valid" type="submit" id="saveButton" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-check mr-1"></i>Add</button>
              </div>
  
          </div>
        </form>
          
      </div>
    </div>
  </div>
  
  