<div class="container-fluid" style="background : transparent !important">
    <div class="row mb-4">
        <div class="col d-inline-flex justify-content-left">
            <div class="card text-dark">
                <div class="card-body bg-white">
                    <h2>Reservation confirmation</h2>
                    <hr>
                    <h3 class="text-muted">Please, specify pricing details</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngFor="let item of tickets">
        <div class="col-sm-12">
            <app-ticket-preview  [isAssignment]="false" [ticket]="item"></app-ticket-preview>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col d-inline-flex flex-row">
            <button class="btn btn-success mr-2" (click)="SetReservation()">Set reservation</button>
            <button class="btn btn-success mr-2" [disabled]="points <= 0" (click)="SetReservationPoints()">Set reservation using points(current points:{{points}})</button>
            <button class="btn btn-success mr-2" (click)="SetReservationCar()">Set reservation with car</button>
            <button class="btn btn-success mr-2" [disabled]="points <= 0" (click)="SetReservationPointsCar()">Set reservation with car using points(current points:{{points}})</button>
            <button class="btn btn-danger" (click)="Cancel()">Cancel</button>
        </div>
    </div>
</div>
