<ng-container *ngIf="loggedIn; then loggedInNav else loggedOutNav"></ng-container>

<ng-template #loggedOutNav>
    <nav class="box transform transform-active fright">
        <div id="navBar" class="fleft">
            <div class="fleft">
                <ul>
                  <li id="rentAcar">
                    <a [routerLink]="['/RentACarEnterprises']" routerLinkActive="router-link-active">  <i class="fas fa-car" style="color:black;"></i> Rent a Car enterprises  </a>
                    <a *ngIf="role ===  'Admin'" (click) = "defineDiscount()">  <i class="fas fa-car" style="color:black;"></i> Define discount  </a>
                    <a *ngIf="role ===  'Admin'" (click) = "defineNewAdmin()">  <i class="fas fa-car" style="color:black;"></i> Define new system admin  </a>
                </li>
                  <li style="float: left !important;"  *ngFor="let link of links">
                    <a   [routerLink]="link.route" routerLinkActive="router-link-active" >
                        {{link.title}}
                    </a> 
                </li>
                </ul>
              </div>
              <div class="fright">
                  <ul>
                      <li>
                          <a [routerLink]="['/Register']" routerLinkActive="router-link-active"><i class="fas fa-registered" style="color:black;"></i> Register </a>   
                      </li>
                      <li>
                          <a [routerLink]="['/Login']" routerLinkActive="router-link-active"> <i class="fas fa-sign-in-alt" style="color:black;"></i> Login </a>
                      </li>
                     
                  </ul>
              </div>
          </div>
        </nav> 
</ng-template>
       
<ng-template #loggedInNav>
    <nav class="box transform transform-active fright" >
    <div id="navBar" class="fleft">
        <div class="fleft">
            <ul>
              <li id="rentAcar">
                <a [routerLink]="['/RentACarEnterprises']" routerLinkActive="router-link-active">  <i class="fas fa-car" style="color:black;"></i> Rent a Car enterprises  </a>
              </li>
              <li style="float: left !important;" *ngFor="let link of links">
                <a  [routerLink]="link.route" routerLinkActive="router-link-active" >
                    {{link.title}}
                </a> 
            </li>
            </ul>
          </div>
            <div class="fright">
                <ul>
                    <li>
                        <button type="button" class="invisButton" (click)="Logout()"><i class="fas fa-sign-out-alt" style="color:black;"></i>Logout</button>
                    </li>
                    <li >
                        <button type="button" (click)="Preview()" class="invisButton" title="View profile"> <i class="fas fa-user" style="color:black;"></i> Hello {{username}}!</button>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav> 
</ng-template>


