<div class="container-fluid">
    <div class="row">
    <div class=" col d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h2>User preview</h2>
                        <hr>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        
                            Username:
                        
                    </div>
                    <div class="col">
                        
                            {{user.username}}
                       
                    </div>
                </div>
                <div class="row" *ngIf="isAirlineAdmin">
                    <div class="col">
                       
                            Company id:
                       
                    </div>
                    <div class="col">
                       
                            {{user.airlineID}}
                        
                    </div>
                </div>
                <div class="row" *ngIf="isRentACarAdmin">
                    <div class="col">
                        
                            Company id:
                       
                    </div>
                    <div class="col">
                        
                            {{user.RentACarEnterpriseId}}
                        
                    </div>
                </div>
                <div class="row" *ngIf="!isAirlineAdmin && !isRentACarAdmin">
                    <div class="col">
                       
                            Points:
                     
                    </div>
                    <div class="col">
                        
                            {{user.points}}
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                   
                            Name:
                     
                    </div>
                    <div class="col">
                        
                            {{user.name}}
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                     
                            Last name:
                   
                    </div>
                    <div class="col">
                        
                            {{user.lastName}}
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      
                            E-mail:
                      
                    </div>
                    <div class="col">
                     
                            {{user.email}}
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      
                            City:
                       
                    </div>
                    <div class="col">
                       
                            {{user.city}}
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       
                            Phone:
                      
                    </div>
                    <div class="col">
                      
                            {{user.phoneNumber}}
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-row justify-content-center">
                    <a [routerLink]="['/UserDetailsEdit']" routerLinkActive="router-link-active"> Edit details</a>
                </div>
            </div>
            <div *ngIf="isAirlineAdmin || isRentACarAdmin" class="row">
                <div class="col d-flex flex-row justify-content-center">
                    <a  [routerLink]="['/changePassword',user.username]" routerLinkActive="router-link-active"> Change password</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
