.container{
    height: 100%;
    align-content: center;
}
    
.card{
    margin-top: 100px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.links{
    color: white;
}
    
.links a{
    margin-left: 4px;
}

p{
    color : white
}
.card-header h3{
    color: white;
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }