    <div class="bg-img">
        <div class="container">
                <div class="card">
                
                        <form [formGroup]="form" (submit)="DrawDailyEarnings()" validatableForm>
                        <div class="row">           
                            <div class="col">
                                    <label for="showOptions" class="col-form-label">
                                        Date from:
                                    </label>
                            </div>
                            <div class="col">
                                    <input class="form-control" formValidation type="date"  #focusable formControlName="startDate" />
                                </div>
                                <div class="col">
                                    <label for="showOptions" class="col-form-label">
                                        Date to:
                                    </label>
                                </div>
                                  <div class="col">
                                    <input class="form-control" formValidation type="date" formControlName="endDate"/>
                                </div>      
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <p class="text-danger form-text" *ngIf="form.errors?.dateMissmatch">
                                    Date from has to be earlier that date to
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-primary" [disabled]="form.invalid" class="btn btn-outline-primary btn-rounded waves-effect" type="submit">Draw earnings</button>
                            </div>
                        </div>

                    </form>
                   
                    <br>
                <div class="row">
                    <div class="col-md-12">
                        <div id="earnings" style="height: 370px; width: 100%; background-color: rgba(0, 0, 0, 0.733) !important;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>