<div class="container-fluid">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header text-center">
                <h3> Change Password </h3>
            </div>
            
            <div class="card-body">
                <form (submit)="OnSubmit()" [formGroup]="form">
                    <div class="form-group input-group">
                        <input class="form-control" formControlName="newPassword" placeholder="New password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <input class="form-control" formControlName="newPasswordAgain" placeholder="Repeat password" type="password">
                    </div> <!-- form-group// -->                                      
                    <div class="form-group">
                        <button type="submit" [disabled]="!form.valid" class="btn float-right reg_btn"> Submit  </button>
                    </div> <!-- form-group// -->   
                </form>
            </div>                     
        </div> 
    </div>
</div>

