<div class="container">
    <form (submit)="Submit()" [formGroup]="flightForm" novalidate>
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <div class="row">
                    <label class="col-sm-2" for="startLocation">
                        Start:
                    </label>
                </div>
                <div class="row">
                    <select id="startLocation" class="col-sm-4 form-control" formControlName="startLocation">
                        <option *ngFor="let item of destinations1" [ngValue] = "item">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="row">
                    <label class="col-sm-2" for="finishLocation">
                        Stop:
                    </label>
                </div>
                <div class="row">
                    <select id="finishLocation" class="col-sm-4 form-control"  formControlName="finishLocation">
                        <option *ngFor="let item of destinations2" [ngValue] = "item">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-check">
                <input id="isRoundTrip" class="form-check-input" type="checkbox" formControlName="isRoundTrip"/>
                <label for="isRoundTrip" class="form-check-label"> Round trip </label>             
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6 form-group">
                <div class="row">
                    <label for="startDate" class="col-sm-3">
                        Start date:
                    </label> 
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-datepicker id="startDate"  formControlName="startDate" #d></ngb-datepicker>
                    </div>  
                </div>          
            </div>
            <div class="col-sm-6 form-group">
                <div class="row">
                    <label for="finishDate" class="col-sm-3">
                        Finish date:
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-datepicker id="finishDate"  formControlName="finishDate" #d></ngb-datepicker>
                    </div>
                </div>
            </div>
        </div>
       <div class="form-row">
           <div class="col-sm-6 form-group">
                <div class="row">
                    <label for="startTime" class="col-sm-3">
                        Start time:
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-timepicker id="startTime" formControlName="startTime" #d></ngb-timepicker>
                    </div>
                </div>
           </div>
           <div class="col-sm-6 form-group">
                <div class="row">
                    <label for="finishTime" class="col-sm-3">
                        Finish time:
                    </label>
                </div>
                <div class="row">                    
                    <div class="col-sm-3">
                        <ngb-timepicker id="finishTime" formControlName="finishTime" #d></ngb-timepicker>
                    </div>
                </div>  
            </div>
       </div>

       <div class="form-row" *ngIf="isRoundTrip">
        <div class="col-sm-6 form-group">
            <div class="row">
                <label for="startDateBack" class="col-sm-5">
                    Start date back:
                </label> 
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <ngb-datepicker id="startDateBack"  formControlName="startDateBack" #d></ngb-datepicker>
                </div>  
            </div>          
        </div>
        <div class="col-sm-6 form-group">
            <div class="row">
                <label for="finishDateBack" class="col-sm-5">
                    Finish date back:
                </label>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <ngb-datepicker id="finishDateBack"  formControlName="finishDateBack" #d></ngb-datepicker>
                </div>
            </div>
        </div>
    </div>
       <div class="form-row" *ngIf="isRoundTrip">
        <div class="col-sm-6 form-group">
             <div class="row">
                 <label for="startTimeBack" class="col-sm-5">
                     Start time back:
                 </label>
             </div>
             <div class="row">
                 <div class="col-sm-3">
                     <ngb-timepicker id="startTimeBack" formControlName="startTimeBack" #d></ngb-timepicker>
                 </div>
             </div>
        </div>
        <div class="col-sm-6 form-group">
             <div class="row">
                 <label for="finishTimeBack" class="col-sm-5">
                     Finish time back:
                 </label>
             </div>
             <div class="row">                    
                 <div class="col-sm-3">
                     <ngb-timepicker id="finishTimeBack" formControlName="finishTimeBack" #d></ngb-timepicker>
                 </div>
             </div>  
         </div>
    </div>
    

      
        <div class="row">
            <div class="col-sm-6">
               
            </div>
            <div class="col-sm-2">
               
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Travel distance(km):
            </div>
            <div class="col-sm-5">
                <input type="text" formControlName="travelDistance"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Price:
            </div>
            <div class="col-sm-5">
                <input type="text" formControlName="price"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Airplane:
            </div>
            <div class="col-sm-5">
                <select formControlName="airplane">
                    <option [ngValue]="item.id" *ngFor="let item of airplanes">
                        {{item.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Class:
            </div>
            <div class="col-sm-5">
                <select formControlName="class">
                    <option [ngValue]="item" *ngFor="let item of classes">
                        {{item}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-primary" type="button" (click)="SetStops()">Set Stops</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
