<div class="container">
    <form (submit)="Submit()" [formGroup]="flightForm" novalidate>
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="startLocation">
                            Start:
                        </label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <select id="startLocation" class="form-control" formControlName="startLocation">
                            <option *ngFor="let item of destinations1" [ngValue] = "item">{{item}}</option>
                        </select>
                    </div>
              
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="finishLocation">
                            Stop:
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <select id="finishLocation" class="form-control"  formControlName="finishLocation">
                            <option *ngFor="let item of destinations2" [ngValue] = "item">{{item}}</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-5">
                <div class="form-check">
                    <input id="isRoundTrip" class="form-check-input" type="checkbox" formControlName="isRoundTrip"/>
                    <label for="isRoundTrip" class="form-check-label"> Round trip </label> 
                </div>   
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="startDate">
                            Start date:
                        </label> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-datepicker id="startDate"  formControlName="startDate" #d></ngb-datepicker>
                    </div>  
                </div>          
            </div>
            <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="finishDate">
                            Finish date:
                        </label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-datepicker id="finishDate"  formControlName="finishDate" #d></ngb-datepicker>
                    </div>
                </div>
            </div>
        </div>
       <div class="form-row">
           <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="startTime">
                            Start time:
                        </label>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-timepicker id="startTime" formControlName="startTime" #d></ngb-timepicker>
                    </div>
                </div>
           </div>
           <div class="col-sm-6 form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="finishTime">
                            Finish time:
                        </label>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-sm-3">
                        <ngb-timepicker id="finishTime" formControlName="finishTime" #d></ngb-timepicker>
                    </div>
                </div>  
            </div>
       </div>

       <div class="form-row" *ngIf="isRoundTrip">
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-sm-5">
                    <label for="startDateBack">
                        Start date back:
                    </label> 
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    <ngb-datepicker id="startDateBack"  formControlName="startDateBack" #d></ngb-datepicker>
                </div>  
            </div>          
        </div>
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-sm-5">
                    <label for="finishDateBack">
                        Finish date back:
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <ngb-datepicker id="finishDateBack"  formControlName="finishDateBack" #d></ngb-datepicker>
                </div>
            </div>
        </div>
    </div>
       <div class="form-row" *ngIf="isRoundTrip">
        <div class="col-sm-6 form-group">
             <div class="row">
                <div class="col-sm-5">
                    <label for="startTimeBack">
                        Start time back:
                    </label>
                </div>
             </div>
             <div class="row">
                 <div class="col-sm-3">
                     <ngb-timepicker id="startTimeBack" formControlName="startTimeBack" #d></ngb-timepicker>
                 </div>
             </div>
        </div>
        <div class="col-sm-6 form-group">
             <div class="row">
                 <div class="col-sm-5">
                    <label for="finishTimeBack">
                        Finish time back:
                    </label>
                 </div>
             </div>
             <div class="row">                    
                 <div class="col-sm-3">
                     <ngb-timepicker id="finishTimeBack" formControlName="finishTimeBack" #d></ngb-timepicker>
                 </div>
             </div>  
         </div>
    </div>
    
    <div class="form-row">
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-sm-5">
                    <label for="travelDistance">
                        Travel distance(km):
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" id="travelDistance" class="form-control" formControlName="travelDistance"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-sm-5">
                    <label for="price">
                        Price:
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" id="price" class="form-control"  formControlName="price"/>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-sm-5">
                    <label for="class">
                        Flight class:
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <select id="class" class="form-control" formControlName="class">
                        <option [ngValue]="item" *ngFor="let item of classes">
                            {{item}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-sm-5">
                    <label for="rows">
                        Rows:
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" id="rows" class="form-control" formControlName="rows"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <div class="row">
                <div class="col-sm-5">
                    <label for="cols">
                        Columns:
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" id="cols" class="form-control"  formControlName="cols"/>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-4">
            <button class="btn btn-primary" type="button" (click)="SetStops()">Set Stops</button>
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
</div>
