
<div class="bg-img">
  <div class="container">
    <div class="card" >
      <form [formGroup]="searchCarsForm">
        <div class="row">

          <div class="col">
            <label for="carBrands">Car brand</label>
              <input type="text" class="form-control" formControlName="carBrand" id="carBrands" placeholder="Car brand">
                
          </div>

          <div class="col">
            <label for="carModels">Choose model</label>
              <input type="text" class="form-control" formControlName="carModel" id="carModels" placeholder="Car model">
                
          </div>
        </div>
        <br/>
        <div class="row">

          <div class="col">
            <label for="carTypes">Choose a car type</label>
              <select class="form-control" formControlName="carType" id="carTypes">
                <option value=""> - </option>
                <option value="limousine">Limousine</option>
                <option value="caravan">Caravan</option>
                <option value="suv">SUV</option>
             </select>
          </div>

          <div class="col">
            <label for="carTransmissions">Choose a transmission type</label>
              <select class="form-control" formControlName="carTransmission" id="carTransmissions">
                <option value=""> - </option>
                <option value="automatic">Automatic</option>
                <option value="manual">Manual</option>
             
             </select>
          </div>
        </div>
        <br/>
        <div class="row">

          <div class="col">
            <label for="carFuels">Choose a fuel type</label>
              <select class="form-control" formControlName="carFuel" id="carFuels">
                <option value=""> - </option>
                <option value="gasoline">Gasoline</option>
                <option value="diesel">Diesel</option>
             </select>
          </div>

          <div class="col">
            <label for="carSeats">Number of seats</label>
            <select class="form-control" formControlName="carNumberOfSeats" id="carSeats">
              <option value=""> - </option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
           </select>
                
          </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
              <label for="carYearFrom">Year of production from</label>
                <input id="carYearFrom" type="number" class="form-control" formControlName="carYearOfProductionFrom" placeholder="Year of production from">
            </div>

            <div class="col">
              <label for="carYearTo">Year of production to</label>
                <input id="carYearTo" type="number" class="form-control" formControlName="carYearOfProductionTo" placeholder="Year of production to">
            </div>
        </div>
      <br/>
      <div class="row">
        <div class="col">
          <label for="priceFrom">Price from</label>
            <input id="priceFrom"type="number" class="form-control" formControlName="carPriceFrom" placeholder="Price from">
        </div>

        <div class="col">
          <label for="priceTo">Price to</label>
            <input id="priceTo" type="number" class="form-control" formControlName="carPriceTo" placeholder="Price to">
        </div>
      </div>


        
        <br/>
        <div class="row">
          
          <div class="col">
            <button type="button" class="btn btn-outline-primary btn-rounded " (click)="showAllCars()"><i class="fas fa-car mr-1"></i>Show all cars</button>
          </div>
          
            <div class="col">
              <button type="button" id="searchButton" class="btn btn-outline-primary btn-rounded " (click)="searchCars()"><i class="fas fa-search mr-1"></i>Search</button>
            </div>

        </div>
          
      </form>
  </div>
</div>
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item class="d-flex justify-content-center"  *ngFor="let item of slides; let i = index">
            
              <div class="col-md-4" *ngFor="let car of item; let carIndex = index">
                <mdb-card (click) = "openCarDetailsModal(carIndex)" title="Click for more details"class="my-1">
                  <mdb-card-img [src]="car.CarImage"></mdb-card-img>
                  <mdb-card-body>
                    <mdb-card-title>
                      <h4>{{ car.CarBrand }}</h4>
                      
                    </mdb-card-title>
                    
                  </mdb-card-body>
                </mdb-card>
              </div>
           
      </mdb-carousel-item>
    </mdb-carousel>
  </div>