.bg-img{
    min-height: 100vh;
    width: 100%;
    background: url('../../../../assets/RentACarEnterpriseBackgroundForAllCars.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


textarea:focus, input:focus, select:focus{
    color: #fcfcfc;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
}
input{
    background-color: rgba(15, 14, 14, 0.678) !important;
}

select{
    background-color: rgba(15, 14, 14, 0.678) !important;
}

option {  
    
    color: #fcfcfc;
    background-color:  rgba(15, 14, 14, 0.678) !important;
}

input, select, textarea{
    color: #fcfcfc;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
}
label{
    color: #fcfcfc;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
}
input::placeholder { 
    color: #fcfcfc70;
    
}
.container {
    display: flex;
    justify-content: center;
    
}
#searchButton{
    float:right;
}

#resetButton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.card{
    
    background-color: rgba(15, 14, 14, 0.678) !important;
    width: 300mm; 
    padding: 5mm;
}
.d-flex{
    margin-top:100px;
    
}

 h4{
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.1vw;
}

.my-1:hover {
    padding-top: 1vw;
    border-radius: 10px;
    cursor: pointer;
  }
.my-1{
    margin:auto;
    height: 320px;
    width: 400px;
    background-color: rgba(15, 14, 14, 0.678) !important;
}
