<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <app-user-search (searchEvent)="onSearch($event)"></app-user-search>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table mt-2">
                    <thead>
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Last name
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of searchItems | async">
                            <td>
                                {{item.username}}
                            </td>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.lastName}}
                            </td>
                            <td  *ngIf="!IsInFriends(item.username); else alreadyIn">
                                <button type="button" class="btn btn-primary btm-sm" (click)="SendRequest(item.username)">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #alreadyIn>
    <td >
        Friends
    </td>
</ng-template>

