

<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h6 class="card-price text-center"><span class="period"><i class="fas fa-gift"></i> Special offer details <i class="fas fa-gift"></i></span></h6>


<div class="card">
    <div class="card-body">
    <h6 class="card-price text-center"><span class="period">{{item.name}}</span></h6>
    <hr>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Discount: {{item.discount}}%</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Minimum booking days: {{item.numberOfDays}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Description: {{item.description}}</li>
   
       
    <hr>
    <div class="row">
        
        <div class="col">
            <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i> Close </button>
        </div>
        <div class="col">
             <!--  ovo je bilo dole-->
            <button *ngIf="role ===  'RentACarAdmin'" (click) = "openSpecialOfferEditModal()" type="button" class="btn btn-outline-primary btn-rounded "><i class="fas fa-edit mr-1"></i> Edit </button>
          </div>

        <div class="col">
             <!-- ovo je bilo dole-->
            <button *ngIf="role ===  'RentACarAdmin'"  type="button" (click)="openDeleteSpecialOfferModal()" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-trash mr-1"></i> Delete </button>
        </div>
    </div>

    
    </ul>
    
    </div>
</div>
</div>
