<div class="container bg-white">
    <div class="row">
        <div class="col">
            <app-flight-panel  [flight]="flight"></app-flight-panel>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Max. load weight in cabin: {{flight.loadInCabin}}
        </div>
    </div>
    <div>
        <div class="col">
            Stops:
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-3" *ngFor="let stop of flight.stopsLocations">
            {{stop}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Flight extras
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Price(&euro;)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of details.extras">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.description}}
                        </td>
                        <td>
                            {{item.price}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Flight load options
                        </th>
                    </tr>
                    <tr>
                        <th>
                            From(kg)
                        </th>
                        <th>
                            To(kg)
                        </th>
                        <th>
                            Price(&euro;)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of details.luggageOptions">
                        <td>
                            {{item.from}}
                        </td>
                        <td>
                            {{item.to}}
                        </td>
                        <td>
                            {{item.price}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
    <div class="row" *ngIf="isUser && flight.isFromSearch">
        <div class="col">
            <button class="btn btn-primary" [routerLink]="['/seats/',flight.id]" routerLinkActive="router-link-active">Set Reservation</button>
        </div>
    </div>
</div>
