<div class="container-fluid" style="background : transparent !important">
    <div class="row">
        <div class="col d-flex justify-content-center align-content-center">
            <div class="card bg-white">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col">
                            <h2>Reservation confirmation</h2>
                            <hr>
                            <h3 class="text-muted">Please enter flight details</h3>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form (submit)="Accept()" [formGroup]="form" validatableForm>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="name" class="col-form-label">Passport Number: </label>
                                        <input formValidation class="form-control" type="text" name="passportNum" formControlName="passportNum"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="luggageWeigth" class="col-form-label">Luggage weight: </label>
                                        <input formValidation class="form-control" type="number" name="luggageWeigth" formControlName="luggageWeigth"/>
                                        <div *ngIf="form.errors?.notInRange" class="form-text text-danger">
                                            Luggage weigth is not available
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        Price
                                                    </th>
                                                    <th>
                                                        &nbsp;
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of details.extras">
                                                    <td>
                                                        {{item.name}}
                                                    </td>
                                                    <td>
                                                        {{item.description}}
                                                    </td>
                                                    <td>
                                                        {{item.price}}
                                                    </td>
                                                    <td *ngIf="ShouldBeDisplayed(item); else addExtra " >
                                                        <button class="btn btn-danger" type="button" (click)="RemoveExtra(item)">Remove</button>
                                                    </td>
                                                    <ng-template #addExtra>
                                                        <td class="col-sm-3">
                                                            <button class="btn btn-primary" type="button" (click)="AddExtra(item)">Add</button>
                                                        </td>           
                                                    </ng-template>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4>
                                            Price:  {{price}}
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex flex-row">
                                        <button class="btn btn-primary mr-1"  [disabled]="form.invalid" type="submit">Accept</button>
                                        <button class="btn btn-success mr-1" type="button" [disabled]="form.invalid || points <= 0" (click)="AcceptPoints()">Accept using points(current points:{{points}})</button>
                                        <button class="btn btn-danger" (click)="Reject()"  type="button">Reject</button>
                                        <button class="btn btn-info"  [routerLink]="['/main']" routerLinkActive="router-link-active"   type="button">Back</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

