<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <label class="h-10">{{item.name}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="h-3">{{item.address | Address}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="label">
                Destinations:
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2" *ngFor="let destination of item.destinations">
            <label class="label">
                {{destination}}
            </label>
        </div>
    </div>

</div>
