<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="Display-4">{{item.name}}</h2>
        </div>
        <div class="col-sm-4">
            <a (click)="Redirection()" [routerLink]="['/FastFlights', item.id]"
            routerLinkActive="router-link-active">View fast flights</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="Display-4 text-muted">{{item.address | Address}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>
                Destinations:
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2" *ngFor="let destination of item.destinations">
            <label class="label">
                {{destination}}
            </label>
        </div>
    </div>

</div>
