.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
   
  }

  #confButton{
    float: right;
  }

  #cancelButton{
    float:left;
    
  }
.card{
  margin:auto;
  border: none;
  border-radius: 1rem;
  margin-top:50px;
  height:auto;
  background-color: rgba(0, 0, 0, 0.733) !important;
}

li {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}

ul{
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem; 
}

.text-muted {
  opacity: 1;
}

.card-price {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin: 0;
}

.period {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.card-title{
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}





.item{
      position:absolute;
      left:auto;
      display: flex;
      margin-top:-35px;
}



.header{
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
hr {
  color: white;
 
  margin: 1.5rem 0;
}
.modal-body{

  background: linear-gradient(to bottom, #5c4d42cc 0%, rgba(92, 77, 66, 0.8) 100%),url('../../../assets/RentACarEnterpriseBackgroundForProfile.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
