.bg-img{
    min-height: 100vh;
    width: 100%;
    background: url('../../../../assets/RentACarEnterpriseBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.item{
    margin-top:150px;
}
 h4{
    color: white;
}

.my-1{
    margin-left:50px;
    height: 320px;
    width: 400px;
    background-color: rgba(15, 14, 14, 0.678) !important;
}
