.bg-img{
    min-height: 100vh;
    width: 100%;
    background: url('../../../../assets/RentACarEnterpriseBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


input, select, textarea{
    color: #fcfcfc;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
}

textarea:focus, input:focus {
    color: #fcfcfc;
    font-family: "Roboto", sans-serif;
    font-size: 1.3vw;
}

::placeholder { 
    color: #fcfcfc;
    opacity: 1; 
}

.container {
    display: flex;
    justify-content: center;
    
}

.card{
    
    background-color: rgba(15, 14, 14, 0.678) !important;
    width: 135mm; 
    padding: 5mm;
}

.d-flex{
    margin-top:200px;
    
}

 h4{
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.2vw;
}

.my-1:hover {
    padding-top: 1vw;
    border-radius: 10px;
    cursor: pointer;
}

.my-1{
    margin:auto;
    height: 320px;
    width: 400px;
    background-color: rgba(15, 14, 14, 0.678) !important;
}
  