<div class="bg-img">
  <div class="container">
      <div class="card" >
        <form [formGroup]="searchEnterpriseForm">
          <div class="row">
              <div class="col">
                <label for="enName">Enterprise name</label>
                  <input id="enName" type="text" class="form-control" formControlName="enterpriseName" placeholder="Enterprise name">
              </div>

              <div class="col">
                <label for="brLocation">Location of the enterprise or enterprise branch</label>
                  <input id= "brLocation" type="text" class="form-control" formControlName="branchLocation" placeholder="Branch location">
              </div>
          </div>
        <br/>
          <div class="row">
            <div class="col">

              <label for="dateFrom">Date from when you need the vehicle</label>
              <div class="input-group form-group">
                      <input class="form-control" [minDate]="minDate" placeholder="Date from when you need the vehicle"
                      formControlName="modelFrom" ngbDatepicker #dateFrom="ngbDatepicker" >
                     
                        <button class="btn btn-outline-primary calendar" (click)="dateFrom.toggle()" type="button"><i class="fas fa-calendar "></i></button>
                   
                   </div>
                 
            </div>

            <div class="col">
              <label for="dateTo">The date by which you need the vehicle</label>
              <div class="input-group form-group">
                    <input id = "dateTo" [minDate]="minDate" class="form-control" placeholder="The date by which you need the vehicle"
                    formControlName="modelTo" ngbDatepicker #dateTo="ngbDatepicker">
                   
                      <button class="btn btn-outline-primary calendar" (click)="dateTo.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                    
                  </div>
               
            </div>

          </div>
          <br/>
          <div class="row">
            
            <div class="col">
              <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" (click)="showAllCompanies()"><i class="fas fa-car mr-1"></i>Show all enterprises</button>
            </div>

              <div class="col">
                <button type="button" [disabled] = "!searchEnterpriseForm.valid" id="searchButton" class="btn btn-outline-primary btn-rounded waves-effect" (click)="searchCompanies()"><i class="fas fa-search mr-1"></i>Search</button>
              </div>

          </div>
            
        </form>
    </div>
  </div>

  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item class="d-flex justify-content-center" *ngFor="let item of slides; let i = index">
        
            <div class="col-md-4" *ngFor="let enterprise of item; let enterpriseIndex = index">
              <mdb-card title="Click for more details" [routerLink]="['/EnterpriseProfile/', enterprise.EnterpriseId]" routerLinkActive="router-link-active" class="my-1">
                <mdb-card-img [src]="enterprise.EnterpriseImage" ></mdb-card-img>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4>{{ enterprise.EnterpriseName }}</h4>
                  </mdb-card-title>
                  
                </mdb-card-body>
              </mdb-card>
            </div>
         
    </mdb-carousel-item>
  </mdb-carousel>
</div>