
<div class="bg-img">
 
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item class="item" *ngFor="let item of slides; let i = index">
          <div class="row">
            <div class="col-md-4" *ngFor="let enterprise of item; let enterpriseIndex = index">
              <mdb-card class="my-1">
                <mdb-card-img [src]="enterprise.EnterpriseImage" [routerLink]="['/EnterpriseProfile/', enterprise.EnterpriseId]" routerLinkActive="router-link-active"></mdb-card-img>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4>{{ enterprise.EnterpriseName }}</h4>
                  </mdb-card-title>
                  
                </mdb-card-body>
              </mdb-card>
            </div>
          </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>