<div class="card shadow-lg bg-white rounded">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <button (click) = "OpenModal()" class="btn btn-primary">Company details</button>
                </div>
                <div class="col-sm-3">
                    {{flight.startDate}}
                </div>
                <div class="col-sm-3">
                    {{flight.endDate}}
                </div>
                <div class="col-sm-3">
                    {{flight.price}}
                </div>         
            </div>
        </div>     
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-3" *ngIf="role !=  'AirlineAdmin'">
                <button class="btn btn-primary" [routerLink]="['/FlightDetails/',flight.id]" routerLinkActive="router-link-active">Set Reservation</button>
            </div>
            <div class="col-md btn-group" role="group" *ngIf="role == 'AirlineAdmin'">
                <button class="btn btn-secondary mr-2" [routerLink]="['/EditFastReservationSeats/',flight.id]" routerLinkActive="router-link-active">Fast</button>
                <button class="btn btn-secondary mr-2" [routerLink]="['/RemoveSeat/',flight.id]" routerLinkActive="router-link-active">Remove seat</button>
                <button class="btn btn-secondary mr-2" [routerLink]="['/DisableSeat/',flight.id]" routerLinkActive="router-link-active">Disable seat</button>
                <button class="btn btn-secondary mr-2" [routerLink]="['/AddSeats/',flight.id]" routerLinkActive="router-link-active">Add seats</button>
                <button class="btn btn-secondary mr-2" [routerLink]="['/EnableSeat/',flight.id]" routerLinkActive="router-link-active">Enable seat</button>
            </div>
        </div>
    </div>
</div>    
