
<div class="bg-img">
  <button *ngIf="role ===  'RentACarAdmin'" (click) = "openBranchAddModal(Enterprise.EnterpriseId)" type="button"  class="btn btn-outline-primary btn-rounded "><i class="fas fa-plus mr-1"></i> Add </button>
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">

        <mdb-carousel-item class="d-flex justify-content-center"  *ngFor="let item of slides; let i = index">
              
                <div class="col-md-4" *ngFor="let branch of item; let branchIndex = index">
                  <!--<mdb-card title="Click to see our location on map" [routerLink]="['/EnterpriseLocation/', branch.BranchAddress.AddressId]" routerLinkActive="router-link-active" class="my-1">!-->
                    <mdb-card  (click) = "openBranchDetailsModal(branch.BranchId)" title="Click for more branch details" class="my-1">
                    <mdb-card-img [src]="Enterprise.EnterpriseImage" ></mdb-card-img>
                    <mdb-card-body>
                      <mdb-card-title>
                        <h4>{{ branch.BranchName }}</h4>

                      </mdb-card-title>
                      <!--<p>Address <i class="fas fa-angle-double-right"></i> {{branch.BranchAddress.Street + " " + branch.BranchAddress.StreetNo + ", " + branch.BranchAddress.ZipCode + " " + branch.BranchAddress.City + ", " + branch.BranchAddress.Country}}</p>!-->
                    </mdb-card-body>
                  </mdb-card>
                </div>
             
        </mdb-carousel-item>
      </mdb-carousel>
    </div>