.bg-img{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #5c4d42cc 0%, rgba(92, 77, 66, 0.8) 100%), url("../../../../assets/RentACarEnterpriseBackgroundForProfile.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.1vw;
}
.card{
    background-color: rgba(0, 0, 0, 0.733) !important;
    width: 300mm; 
    padding: 5mm;
}

.d-flex{
    margin-top:220px;
}

 h4{
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.1vw;
}

.my-1:hover {
    cursor: pointer;
}

.my-1{
    margin:auto;
    height: 320px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.733) !important;
}
