<div class="container" style="background : transparent !important">  
    <div *ngIf="(flights | async) != null; else searchForItems" >
        <div *ngIf="(flights | async)?.length > 0; else nothingFound">
            <div class="row mb-3" style="background : transparent !important">
                <div class="col d-flex flex-row justify-content-right">
                    <div class="card text-dark">
                        <div class="card-body bg-white">
                            <form [formGroup]="form">
                                <label>
                                    Sort by :
                                </label>
                                <select formControlName="sort">
                                    <option value="AirlineAZ">Airline A-Z</option>
                                    <option value="AirlineZA">Airline Z-A</option>
                                    <option value="PriceAsc">Price ascending</option>
                                    <option value="PriceDesc">Price descending</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2" *ngFor="let item of flights | async">
                <div class="col">
                    <app-flight-panel  [flight]=item></app-flight-panel>
                </div>
            </div>
        </div>
  
      
    </div>

    <ng-template #searchForItems >
        <div class="row">
            <div class="col" >
                <div class="card">
                    <div class="card-body text-center text-justify">
                        <h3>
                            <small>
                                To display flight, please search for flights.
                            </small>
                        </h3>
                    </div>
                </div>
       
            </div>
        </div>
    </ng-template>
    <ng-template #nothingFound >
        <div class="row">
            <div class="col" >
                <div class="card">
                    <div class="card-body text-center text-justify">
                        <h3>
                            <small>
                                No flights that match search criteria found!
                            </small>
                        </h3>
                    </div>
                </div>
             
            </div>
        </div>
    </ng-template>
</div>

