

<div class="modal-body" >
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> You have successfully edited branch informations.
      <button (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     
     
  <div class="card">
      <div class="card-body">
        <h6 class="card-price text-center"><span class="period"> <i class="fas fa-building"></i> Edit branch <i class="fas fa-building"></i></span></h6>
        <hr>
        <form  [formGroup]="editBranchForm" (ngSubmit)="editBranch()">
          <div class="row">
            <label for="name">Name</label>
            <input [ngClass] ="{'is-invalid': editBranchForm.get('branchName').touched && editBranchForm.get('branchName').invalid}" type="text"  formControlName="branchName" id="name" class="form-control">
            <div  class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Branch name is required.</div>
        
              
            </div>
          </div>
  
          <br/>
          <div class="row">
            <label for="country">Country</label>
            <input [ngClass] ="{'is-invalid': editBranchForm.get('branchCountry').touched && editBranchForm.get('branchCountry').invalid}"  type="text" formControlName="branchCountry" id = "country"class="form-control"> 
            <div *ngIf = "editBranchForm.get('branchCountry').touched && editBranchForm.get('branchCountry').invalid" class="invalid-feedback">
              <div *ngIf = "editBranchForm.get('branchCountry').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Branch country is required.</div>
              <div *ngIf = "editBranchForm.get('branchCountry').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Branch country can only contain letters.</div>
              
            </div>
          </div>
  
          <br/>
          <div class="row">
            <label for="city">City</label>
            <input  [ngClass] ="{'is-invalid': editBranchForm.get('branchCity').touched && editBranchForm.get('branchCity').invalid}" type="text" formControlName="branchCity" id = "city" class="form-control">
            <div *ngIf = "editBranchForm.get('branchCity').touched && editBranchForm.get('branchCity').invalid" class="invalid-feedback">
              <div *ngIf = "editBranchForm.get('branchCity').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Branch city is required.</div>
              <div *ngIf = "editBranchForm.get('branchCity').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Branch city can only contain letters.</div>
              
            </div> 
          </div>
  
          <br/>
          <div class="row">
            <label for="street">Street</label>
            <input  [ngClass] ="{'is-invalid': editBranchForm.get('branchStreet').touched && editBranchForm.get('branchStreet').invalid}" type="text" formControlName="branchStreet"  id = "street" class="form-control"> 
            <div *ngIf = "editBranchForm.get('branchStreet').touched && editBranchForm.get('branchStreet').invalid" class="invalid-feedback">
              <div *ngIf = "editBranchForm.get('branchStreet').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Branch street is required.</div>
              <div *ngIf = "editBranchForm.get('branchStreet').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Branch street can only contain letters and numbers.</div>
              
            </div> 
          </div>
          <br/>
          <div class="row">
            <label for="streetNo">Street number</label>
            <input   [ngClass] ="{'is-invalid': editBranchForm.get('branchStreetNo').touched && editBranchForm.get('branchStreetNo').invalid}" type="text" formControlName="branchStreetNo" id = "streetNo" class="form-control"> 
            <div *ngIf = "editBranchForm.get('branchStreetNo').touched && editBranchForm.get('branchStreetNo').invalid" class="invalid-feedback">
              <div *ngIf = "editBranchForm.get('branchStreetNo').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Branch street number is required.</div>
              <div *ngIf = "editBranchForm.get('branchStreetNo').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Branch street number can only contain letters and numbers.</div>
              
            </div> 
          </div>
  
          <br/>
          <div class="row">
            <label for="zipCode">Zip code</label>
            <input  [ngClass] ="{'is-invalid': editBranchForm.get('branchZipCode').touched && editBranchForm.get('branchZipCode').invalid}" type="text" formControlName="branchZipCode" id = "zipCode" class="form-control"> 
            <div *ngIf = "editBranchForm.get('branchZipCode').touched && editBranchForm.get('branchZipCode').invalid" class="invalid-feedback">
              <div *ngIf = "editBranchForm.get('branchZipCode').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Branch zip code is required.</div>
              <div *ngIf = "editBranchForm.get('branchZipCode').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Branch zip code can only contain numbers.</div>
              
            </div> 
          </div>
          
          <hr>
  
          <div class="row">
            
            <div class="col">
              <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i>Cancel</button>
            </div>
            
            
              <div class="col">
                <button [disabled] = "!editBranchForm.valid" type="submit" id="saveButton" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-save mr-1"></i>Save</button>
              </div>
  
          </div>
        </form>
          
      </div>
    </div>
  </div>
  
  