<div class="container-fluid" style="background : transparent !important">
    <div class="row">
        <div class="col">
            <app-friends-pending-request></app-friends-pending-request>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col">
            <button class="btn btn-primary" (click)="AddFriends()">Add Friends</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <app-friends-holder></app-friends-holder>
        </div>
    </div>
</div>
