

<div class="modal-body" >
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf = "alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> You have successfully edited special offer.
      <button (click) = "closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     
     
  <div class="card">
      <div class="card-body">
        <h6 class="card-price text-center"><span class="period"><i class="fas fa-edit"></i> Edit a "{{item.OfferName}}" offer <i class="fas fa-edit"></i></span></h6>
        <hr>
        <form  [formGroup]="editEnterpriseSpecialOffer" (ngSubmit)="editOffer()">
          <div class="row">
            <label for="name">Special offer name</label>
            <input [ngClass] ="{'is-invalid': editEnterpriseSpecialOffer.get('specialOfferName').touched && editEnterpriseSpecialOffer.get('specialOfferName').invalid}" type="text"  formControlName="specialOfferName" id="name" class="form-control">
            <div  class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Special offer name is required.</div>
    
            </div>
          </div>
  
          <br/>
          <div class="row">
            <label for="price">Special offer discount</label>
            <input [ngClass] ="{'is-invalid': editEnterpriseSpecialOffer.get('specialOfferPrice').touched && editEnterpriseSpecialOffer.get('specialOfferPrice').invalid}" type="text"  formControlName="specialOfferPrice" id = "price"  class="form-control"> 
            <div *ngIf = "editEnterpriseSpecialOffer.get('specialOfferPrice').touched && editEnterpriseSpecialOffer.get('specialOfferPrice').invalid" class="invalid-feedback">
              <div *ngIf = "editEnterpriseSpecialOffer.get('specialOfferPrice').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Special offer price is required.</div>
              <div *ngIf = "editEnterpriseSpecialOffer.get('specialOfferPrice').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Special offer price can only contain numbers.</div>
              <div *ngIf = "editEnterpriseSpecialOffer.get('specialOfferPrice').errors.Errorr"><i class="fas fa-times-circle" style="color: red;"></i>Special offer discount value can be between 0% and 100%.</div>
            </div>
          </div>
  
          <br/>
          <div class="row">
           <label for="descrption">Special offer promo description</label>
            <textarea [ngClass] ="{'is-invalid': editEnterpriseSpecialOffer.get('specialOfferDescription').touched && editEnterpriseSpecialOffer.get('specialOfferDescription').invalid}"  id = "descrption"formControlName="specialOfferDescription"  rows="4" cols="50"></textarea>
            <div  class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Special offer promo description is required.</div>
        
            </div>
          </div>
          <br/>
          <div class="row">
            <label for="price">Required number of booking days for special offer</label>
            <input [ngClass] ="{'is-invalid': editEnterpriseSpecialOffer.get('specialOfferNumberOfDays').touched && editEnterpriseSpecialOffer.get('specialOfferNumberOfDays').invalid}" type="text" formControlName="specialOfferNumberOfDays" id = "price" class="form-control"> 
            <div *ngIf = "editEnterpriseSpecialOffer.get('specialOfferNumberOfDays').touched && editEnterpriseSpecialOffer.get('specialOfferNumberOfDays').invalid" class="invalid-feedback">
              <div *ngIf = "editEnterpriseSpecialOffer.get('specialOfferNumberOfDays').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Required number of booking days for special offer is required.</div>
              <div *ngIf = "editEnterpriseSpecialOffer.get('specialOfferNumberOfDays').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Required number of booking days for special offer can only contain numbers.</div>
              
            </div>
          </div>
          <hr>
  
          <div class="row">
            
            <div class="col">
              <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i>Cancel</button>
            </div>
            
            
              <div class="col">
                <button [disabled] = "!editEnterpriseSpecialOffer.valid" type="submit" id="saveButton" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-save mr-1"></i>Save</button>
              </div>
  
          </div>
        </form>
          
      </div>
    </div>
  </div>
  
  