<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                       
                        <div class="col-sm-2">
                             Row: 
                        </div>
                        <div class="col-sm-4">
                            {{ticket.row}} 
                        </div>
                        <div class="col-sm-2">
                             Name:   
                        </div>
                        <div class="col-sm-4" *ngIf="ticket.details">
                             {{ticket.details.name}} 
                        </div>
                    </div>
                    <div class="row">      
                        <div class="col-sm-2">
                             Column:       
                        </div>
                        <div class="col-sm-4">
                             {{ticket.column}} 
                        </div>
                        <div class="col-sm-2">
                              Last Name:  
                        </div>
                        <div class="col-sm-4" *ngIf="ticket.details">
                            {{ticket.details.lastName}} 
                        </div>
                    </div>
                    <div class="row">     
                        <div class="col-sm-2">
                             Seat Index:   
                        </div>
                        <div class="col-sm-4">
                             {{ticket.seatIndex}} 
                        </div>
                        <div class="col-sm-2">
                             Passport number: 
                        </div>
                        <div class="col-sm-4" *ngIf="ticket.details">
                             {{ticket.details.passportNum}}         
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="!isAssignment">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="h4">
                                Price:
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> {{ticket.price}} </p>      
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isAssignment; else assignment">
                <div class="col d-inline-flex flex-row" *ngIf="!ticket.details; else clearData">
                    <button (click)="EnterData()" class="btn btn-primary mr-2">Enter data</button>
                    <button (click)="ChooseFriend()" class="btn btn-primary mr-2">Choose Friend</button>
                    <button (click)="ChooseMe()" class="btn btn-primary mr-2" *ngIf="!currentUserSelected.isSelected">Choose Me</button>
                </div>
            </div>
        </div>   
    </div>
</div> 
                
<ng-template #clearData>
    <div class="col d-inline-flex flex-row">
        <button (click)="ClearData()" class="btn btn-danger">Clear data</button>
    </div>
</ng-template>

<ng-template #assignment>
    <div class="row">
        <div class="col d-inline-flex flex-row" *ngIf="ticket.details.passportNum">
            <button (click)="SetDetails()" class="btn btn-primary">Set details</button>
        </div>
    </div>
</ng-template>      
    
   
