<div class="card">
    <div class="card-header">
        <h4>
            Flight Reservation
        </h4>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                       
                        <div class="col-sm-2">
                            <p> Row: </p>
                        </div>
                        <div class="col-sm-4">
                            <p> {{ticket.row}}  </p>
                        </div>
                        <div class="col-sm-2">
                            <p> Name: </p>    
                        </div>
                        <div class="col-sm-4" *ngIf="ticket.details">
                            <p> {{ticket.details.name}} </p>
                        </div>
                    </div>
                    <div class="row">      
                        <div class="col-sm-2">
                            <p> Column: </p>      
                        </div>
                        <div class="col-sm-4">
                            <p> {{ticket.column}} </p>
                        </div>
                        <div class="col-sm-2">
                            <p>  Last Name: </p>      
                        </div>
                        <div class="col-sm-4" *ngIf="ticket.details">
                            <p> {{ticket.details.lastName}} </p>  
                        </div>
                    </div>
                    <div class="row">     
                        <div class="col-sm-2">
                            <p>  Seat Index: </p>   
                        </div>
                        <div class="col-sm-4">
                            <p> {{ticket.seatIndex}} </p>
                        </div>
                        <div class="col-sm-2">
                            <p> Passport number: </p> 
                        </div>
                        <div class="col-sm-4" *ngIf="ticket.details">
                            <p> {{ticket.details.passportNum}}  </p>         
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="!isAssignment">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="h4">
                                Price:
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> {{ticket.price}} </p>      
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="card-footer">
        <div class="container" *ngIf="isAssignment; else assignment">
            <div class="row">
                <div class="col-sm-12"*ngIf="!ticket.details; else clearData" >
                    <div class="row">
                        <div class="col-sm-4">
                            <button (click)="EnterData()" class="btn btn-primary">Enter data</button>
                        </div>
                        <div class="col-sm-4">
                            <button (click)="ChooseFriend()" class="btn btn-primary">Choose Friend</button>
                        </div>
                        <div class="col-sm-4">
                            <button (click)="ChooseMe()" class="btn btn-primary" *ngIf="!currentUserSelected.isSelected">Choose Me</button>
                        </div>
                    </div>         
                </div>
                <ng-template #clearData>
                    <div class="col-sm-12">
                        <button (click)="ClearData()" class="btn btn-danger">Clear data</button>
                    </div>
                </ng-template>
            </div>
        </div>
        <ng-template #assignment>
            <div class="container">

            </div>
        </ng-template>      
    </div>
</div>    
