<div class="container">
    <form (submit)="onSubmit()" [formGroup]="searchForm" validatableForm>
        <div class="form-row">
            <div class="col form-group">
                <label for="username" class="col-form-label">Username : </label>
                <input formValidation [customErrors]="customErrors" type="text" id="username" class="form-control" formControlName="username"/>
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col">
                <label for="name" class=" col-form-label">Name : </label>
                <input formValidation type="text" id="name" class="form-control" formControlName="name"/>
            </div>

        </div>
        <div class=" form-row">
            <div class="col form-group">
                <label for="lastName" class="col-form-label">Last name : </label>
                <input formValidation type="text" id="lastName" class="form-control" formControlName="lastName"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button class="btn btn-primary" [disabled]="searchForm.invalid" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
