<div class="card">
    <div class="btn btn-primary" id="flight-filter" (click)="isCollapsed = !isCollapsed" 
    [attr.aria-expanded] = "!isCollapsed" aria-controls="flight-filter-content" style="cursor: pointer;">
        Filter
    </div>
    <div [ngbCollapse]="isCollapsed" id="flight-filter-content" class="card-body">
        <form (submit)="onSubmit()" [formGroup]="filterForm">
            <div class=" form-row">
                <div class=" form-group col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="priceFrom">
                                Price from:
                            </label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="number" min="0" name="priceFrom" id="priceFrom" formControlName="priceFrom"/>
                        </div>  
                    </div> 
                </div>
                <div class=" form-group col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="priceTo">
                                Price to:
                            </label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="number" min="0" name="priceTo" id="priceTo" formControlName="priceTo"/>
                        </div>  
                    </div> 
                </div>
 
            </div> 
            <div class=" form-row">
                <div class=" form-group col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="numberOfStops">
                                Max. number of stops:
                            </label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="number" min="0" name="numberOfStops" id="numberOfStops" formControlName="numberOfStops"/>
                        </div>  
                    </div> 
                </div>
                <div class=" form-group col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="airline">
                                Airline:
                            </label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="text" min="0" name="airline" id="airline" formControlName="airline"/>
                        </div>  
                    </div> 
                </div>
            </div> 
            <div class=" form-row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" [disabled]="!filterForm.valid" type="submit"> Filter </button>
                </div>
            </div>
           
        </form>   
    </div>
</div>
