<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Username
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Last name
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let friend of friends | async">
                            <td>
                                {{friend.username}}
                            </td>
                            <td>
                                {{friend.name}}
                            </td>
                            <td>
                                {{friend.lastName}}
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="onFriendClick(friend.username)">Select</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
