<nav class="box transform transform-active fright">
    <div id="navBar" class="fleft">
          <div class="fright">
              <ul>
                  <li>
                      <a [routerLink]="['/Register']" routerLinkActive="router-link-active"><img  src="../../assets/signup.png"/> Register </a>   
                  </li>
                  <li>
                      <a [routerLink]="['/Login']" routerLinkActive="router-link-active"> <img  src="../../assets/login.png" />Login </a>
                  </li>
                 
              </ul>
          </div>
      </div>
  </nav>

<app-nav-bar-unregistered [links] = links></app-nav-bar-unregistered>
<router-outlet></router-outlet>
