<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12 mx-center justify-content-center d-flex" >
            <svg viewBox="0 0 1100 300" width="2000" height="500"> 
                <g *ngFor="let seat of seats">
                    <rect  rx="5" ry="5" [attr.x] = "seat.offsetX" [attr.y] = "seat.offsetY" width="50" height="50"
                    style="stroke:black;stroke-width:0.5;cursor: pointer;" [ngStyle]="{'display': seat.status == SeatStatus.Removed ? 'none' : 'inline'}" (click)="seatClicked(seat.row,seat.column)" [style.fill] = "seatColor(seat.status)"></rect>
                    <text [ngStyle]="{'display': seat.status == SeatStatus.Removed ? 'none' : 'inline'}"  style="cursor: pointer;" [attr.x] ="seat.offsetX + 25" [attr.y]="seat.offsetY + 25" text-anchor="middle" dominant-baseline="central" (click)="seatClicked(seat.row,seat.column)">
                        {{seat.index}}
                    </text>
                </g>
            </svg>
        </div>
    </div>
</div>
