<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form (submit)="OnSubmit()" [formGroup]="form" validatableForm>
                    <div class="row">
                        <div class="col-md-3">
                            <input formValidation placeholder="Starting Weigth"  type="number" name="from" class=" form-control mr-1" formControlName="from"/>

                        </div>
                        <div class="col-md-3">
                            <input formValidation placeholder="Ending Weigth" type="number" name="to" class=" form-control mr-1" formControlName="to"/>

                        </div>
                        <div class="col-md-3">
                            <input formValidation placeholder="Price/kg" type="number" name="price" class=" form-control mr-1" formControlName="price"/>

                        </div>
                        <div class="col-md-3">                         
                            <button class="btn btn-outline-primary" [disabled]="form.invalid" type="submit">Add </button>
                        </div>
                    </div> 
                    <div class="form-row" *ngIf="loadError">
                        <div class="col form-text text-danger">
                            Given range is already in loads weights.
                        </div>
                    </div>
                </form>
            </div>   
        </div>
        <div class="row mt-2">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>
                            <th>
                                Price/kg
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of loadOptions;let i = index">
                            <td>
                                {{i + 1}}
                            </td>
                            <td>
                                {{item.from}}
                            </td>
                            <td>
                                {{item.to}}
                            </td>
                            <td>
                                {{item.price}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="RemoveOption(item)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>
