<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form (submit)="Submit()" [formGroup]="form"  validatableForm>
      
                    <div class="form">
                        <label for="luggageWeigth" class="col-form-label">Luggage weight: </label>
                        <input formValidation class="form-control" type="number" name="luggageWeigth" formControlName="luggageWeigth"/>
                    </div>
                    <div class="form">
                        <div class="col">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            &nbsp
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of FlightDetails.extras">
                                        <td>
                                            {{item.name}}

                                        </td>
                                        <td>
                                            {{item.description}}

                                        </td>
                                        <td>
                                            {{item.price}}

                                        </td>
                                        <td *ngIf="ShouldBeDisplayed(item); else addExtra ">
                                            <button class="btn btn-primary" type="button" (click)="RemoveExtra(item)">Remove</button>
                                        </td>
                                        <ng-template #addExtra>
                                            <td>
                                                <button class="btn btn-primary" type="button" (click)="AddExtra(item)">Add</button>
                                            </td>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Set details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

