

<div class="modal-body" >
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    
     
     
  <div class="card">
      <div class="card-body">
        <h6 class="card-price text-center"><span class="period"> <i class="fas fa-gift"></i> Add a special offer <i class="fas fa-gift"></i> </span></h6>
        <hr>
        <form  [formGroup]="addEnterpriseSpecialOffer" (ngSubmit)="addOffer()">
          <div class="row">
            <!--<label for="name">Name</label>!-->
            <input [ngClass] ="{'is-invalid': addEnterpriseSpecialOffer.get('specialOfferName').touched && addEnterpriseSpecialOffer.get('specialOfferName').invalid}" type="text" placeholder="Special offer name" formControlName="specialOfferName" id="name" class="form-control">
            <div  class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Special offer name is required.</div>
    
            </div>
          </div>
  
          <br/>
          <div class="row">
            <!--<label for="price">Price</label>!-->
            <input [ngClass] ="{'is-invalid': addEnterpriseSpecialOffer.get('specialOfferPrice').touched && addEnterpriseSpecialOffer.get('specialOfferPrice').invalid}" type="text" placeholder="Special offer discount" formControlName="specialOfferPrice" id = "price" class="form-control"> 
            <div *ngIf = "addEnterpriseSpecialOffer.get('specialOfferPrice').touched && addEnterpriseSpecialOffer.get('specialOfferPrice').invalid" class="invalid-feedback">
              <div *ngIf = "addEnterpriseSpecialOffer.get('specialOfferPrice').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Special offer discount is required.</div>
              <div *ngIf = "addEnterpriseSpecialOffer.get('specialOfferPrice').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Special offer discount can only contain numbers.</div>
              <div *ngIf = "addEnterpriseSpecialOffer.get('specialOfferPrice').errors.Errorr"><i class="fas fa-times-circle" style="color: red;"></i>Special offer discount value can be between 0% and 100%.</div>
            </div>
          </div>
          <br/>
          <div class="row">
           
            <textarea placeholder = "Special offer promo description"[ngClass] ="{'is-invalid': addEnterpriseSpecialOffer.get('specialOfferDescription').touched && addEnterpriseSpecialOffer.get('specialOfferDescription').invalid}"  id = "descrption"formControlName="specialOfferDescription"  rows="4" cols="50"></textarea>
            <div  class="invalid-feedback">
              <div ><i class="fas fa-times-circle" style="color: red;"></i> Special offer promo description is required.</div>
        
            </div>
          </div>
          <br/>
          <div class="row">
            <!--<label for="price">Price</label>!-->
            <input [ngClass] ="{'is-invalid': addEnterpriseSpecialOffer.get('specialOfferNumberOfDays').touched && addEnterpriseSpecialOffer.get('specialOfferNumberOfDays').invalid}" type="text" placeholder="Required number of booking days for special offer" formControlName="specialOfferNumberOfDays" id = "price" class="form-control"> 
            <div *ngIf = "addEnterpriseSpecialOffer.get('specialOfferNumberOfDays').touched && addEnterpriseSpecialOffer.get('specialOfferNumberOfDays').invalid" class="invalid-feedback">
              <div *ngIf = "addEnterpriseSpecialOffer.get('specialOfferNumberOfDays').errors.required"><i class="fas fa-times-circle" style="color: red;"></i> Required number of booking days for special offer is required.</div>
              <div *ngIf = "addEnterpriseSpecialOffer.get('specialOfferNumberOfDays').errors.isError"><i class="fas fa-times-circle" style="color: red;"></i> Required number of booking days for special offer can only contain numbers.</div>
              
            </div>
          </div>
          <hr>
  
          <div class="row">
            
            <div class="col">
              <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i>Cancel</button>
            </div>
            
            
              <div class="col">
                <button [disabled] = "!addEnterpriseSpecialOffer.valid" type="submit" id="saveButton" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-plus mr-1"></i>Add</button>
              </div>
  
          </div>
        </form>
          
      </div>
    </div>
  </div>
  
  