

<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <h6 class="card-price text-center"><span class="period"><i class="fas fa-car"></i> Reservation preview <i class="fas fa-car"></i></span></h6>


<div class="card">
    <div class="card-body">
    <h6 class="card-price text-center"><span class="period">Reservation details</span></h6>
    <hr>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Brand: {{item.selectedCar.brand}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Model: {{item.selectedCar.model}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Year of production: {{item.selectedCar.yearOfProduction}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Type: {{item.selectedCar.type}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Number of seats: {{item.selectedCar.numberOfSeats}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Fuel: {{item.selectedCar.fuelType}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>The enterprise that rented car: {{item.selectedEnterprise.name}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Reservation created on day: {{rentedDay}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Car rented from date: {{dateFromm}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Car rented to date: {{dateToo}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Number of days: {{item.numberOfDays}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Realized package: {{realizedPackage}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Achieve discount: {{discount}}</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Original price: {{originalPrice}}$</li>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Price with discount: {{item.price}}$</li>
        <hr>
        <li><span class="fa-li"><i class="fas fa-angle-double-right"></i></span>Rating: 
            <div class="d-flex justify-content-center">
                <div class="item">
                    <div *ngFor="let i of [0,1,2,3,4]">
                        <div class="fav fav-star-default "></div>
                    </div>
                </div>

                <div class="item">
                    <div *ngFor="let i of animeArr;last as isLast">
                        <div class="fav fav-star is-animating" [ngClass]= "{'isHalf': isHalf}"></div>
                        <div class="halfstar1" *ngIf="isHalf">&#x2605;</div>
                        <div class="halfstar2" *ngIf="isHalf">&#x2605;</div>
                    </div>
                </div>
        </div>
    </li>
    <hr>
    <div class="row">
        
        <div class="col">
            <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary btn-rounded " ><i class="fas fa-times mr-1"></i> Cancel </button>
        </div>

        <div class="col">
            <!--*ngIf="role ===  'User'"-->
            <button  id="confButton" type="button" (click)="openConfirmationModal()"  class="btn btn-outline-primary btn-rounded " ><i class="fas fa-check mr-1"></i> Confirm </button>
        </div>

    </div>

    
    </ul>
    
    </div>
</div>
</div>
