<div class="bg-img">
  <section class="pricing py-5">
    <button *ngIf="role ===  'RentACarAdmin'" (click) = "openSpecialOfferAddModal(Enterprise.EnterpriseId)" type="button"  class="btn btn-outline-primary btn-rounded "><i class="fas fa-plus mr-1"></i> Add </button>
          <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item class="d-flex justify-content-center" *ngFor="let item of slides; let i = index">
              <div class="col-md-4" *ngFor="let enterpriseOffer of item; let enterpriseIndex = index">
                <div class="card" title="Click for more details about this special offer." (click) = "openSpecialOfferDetails(enterpriseOffer.SpecialOfferId)">
                  <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">{{enterpriseOffer.OfferName}}</h5>
                    <h6 class="card-price text-center">{{enterpriseOffer.OfferPrice}}$<span class="period">/day</span></h6>
                    
                  
                  </div>
                </div>
                <br/>
                <br/>
            </div>
            
        </mdb-carousel-item>
      </mdb-carousel> 
      
  </section>
</div>
